@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-coiny: "Coiny";
  --font-modak: "Modak";
  --font-fredoka: "Fredoka";
}

html {
  @apply h-full overflow-y-hidden;
}

body {
  @apply font-fredoka bg-purple-500 text-white h-full overflow-y-hidden;
}

.solid-select.solid-select-container {
  @apply text-white text-xl font-fredoka;
}

.solid-select .solid-select-control {
  @apply outline-purple-900 border-purple-900 border-2 rounded-xl bg-purple-500
    hover:border-yellow-500 active:border-yellow-400 p-2;
}

.solid-select .solid-select-placeholer {
  @apply font-coiny text-purple-900 text-xl bg-purple-500;
}

.solid-select .solid-select-list {
  @apply absolute min-w-full bg-purple-500 border-purple-900 border-2 rounded-xl mt-2
    outline-purple-900 max-h-52 p-0 overflow-y-auto text-purple-900;
}

.solid-select .solid-select-option:hover {
  @apply bg-purple-900 text-yellow-500 cursor-pointer;
}

.solid-select .solid-select-option[data-focused=true] {
  @apply bg-purple-500;
}

.solid-select .solid-select-list-placeholder {
  @apply text-white text-xl;
}

